.bcdivider {
    color: white !important;
}

.post__dimmer {
    background-color: rgba(190, 190, 190, 0.2) !important;
    margin-top: -15px;
}

.ui.huge.header{
    padding-top: 4rem !important;
    word-break: normal;
    font-size: 4.6em !important;
}

.ui.justified.container {
    text-align: left !important;
    hyphens: none !important;
}

h2 {
    font-weight: 400 !important;
    color: #c4c4c4; 
}

.ui.grid > .row {
    padding-top: 1.8rem !important;
    padding-bottom: 5rem !important;
}

.ui.sub.header {
    font-weight: 200 !important;
    color:#c4c4c4 !important;
 }
