.ui.cards a.card, .ui.link.card, .ui.link.cards .card, a.ui.card {
    margin-top: 3rem;
}

.ui.centered.grid, .ui.centered.grid>.row, .ui.grid>.centered.row {
    margin-top: 1rem;
    margin-bottom: 2rem;
}