.ui.cards a.card, .ui.link.card, .ui.link.cards .card, a.ui.card {
    margin-top: 30%;
}

.ui.centered.grid, .ui.centered.grid>.row, .ui.grid>.centered.row {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.ui.card {
    margin: none;
}

.card {
    height: 600px;
}



#card{
    background: #171717;
    border-color: #292929 !important;
    border-radius: 15px;
    box-shadow:  0 1px 3px 0 #292929, 0 0 0 1px #292929;
    font-family: "Epilogue", sans-serif !important;
}

#card:hover {
    background: #202020;
    border-color: #292929;
    box-shadow:  2px 2px 5px 5px #181818, 0 0 0 1px #292929;
}

.ui.card>.content>.header, .ui.cards>.card>.content>.header {
    display: block;
    margin: '';
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #ffffff !important;
}

.ui.card>.content>.description, .ui.cards>.card>.content>.description {
    clear: both;
    color: #9F9F9F !important;
    height: fit-content;
}
.ui.card>.content>.meta, .ui.cards>.card>.content {
    color: #ffffff !important;
    padding-top: 0.5rem;
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
    display: block;
    width: 100%;
    height: auto;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}