.ui.inverted.segment {
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#header__img {
  max-width: 260%;
}

.ui.image {
  max-width: 260%;
  width: max-content;
}

img {
  max-width: 260%;
}