#header__img {
    max-width: 200%;
}

#nav__menu {
    background-color: #1b1c1d;
    box-shadow: 0px 8px 10px rgb(15, 15, 15);
    height: 110px;
    font-family: "Epilogue", sans-serif;
    z-index:1001 !important;
}

.ui.image {
    max-width: 260%;
    width: max-content;
}

img {
    max-width: 260%;
}
