
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background:#1b1c1d;
}

body #root {
  font-family: "Epilogue", sans-serif !important;
}

.container {
  display: flex;
  flex-direction: column;
}

// main {
//   flex: 2;
//   display: flex;
//   justify-content: center;
 
// }
